<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<p th:text="${msg}"></p>

<a th:href="${register}">登録</a>
<a th:href="${login}">ログイン</a>
<a th:href="${logout}">ログアウト</a>
<a th:href="${battle}">バトル</a>
<a th:href="${ranking}">ランキング</a>
<a th:href="${data}">ユーザデータ</a>
<a th:href="${chat}">チャット</a>
<a th:href="${userlist}">ユーザリスト</a>


</body>
</html>